# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Uu]serSettings/
[Mm]emoryCaptures/
[Rr]ecordings/

# Builds
[Bb]uild/
[Bb]uilds/

# IDE / Visual Studio / VS Code
.vs/
.vscode/
.idea/

*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# Unity generated
*.pdb
*.mdb
*.opendb
*.VC.db

# OS
.DS_Store
Thumbs.db

# Gradle
.gradle/

# Crash reports
sysinfo.txt

# Generated IDE/project files
*.slnx
.vsconfig